* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(90deg, rgba(122,69,197,1) 0%, rgb(122 69 197 / 89%) 46%, rgba(122,69,197,1) 100%);
    /*background-color: #7a45c5e3;*/
}

#calcContainer {
    display: flex;
    width: 400px;
    height: 600px;
    margin: 0 1rem;
    background-color: #b178ff;
    padding: 1rem;
}

#calcUI {
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid orange;
    gap: 1rem;

}

#calcDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 2px solid black;
    flex: 2;
}

#screen {
    display: flex;
    align-self: center;
    max-width: 100%;
    word-break: break-all;
}

#calcOptions {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid green;
    gap: 1rem;
    flex: 1;
}

#clear {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

#clearButton {
    width: 100%;
}

#backspace {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

#backButton {
    width: 100%;
}

#calcInput {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    flex: 7;
}

#keypad {
    flex: 1;
    display: flex;
    border: 2px solid red;
}

#numberPad {
    display: flex;
    flex-direction: column;
    flex: 5;
    gap: 0.25rem;
}

#operators {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.25rem;
}

#operators button {
    flex: 1;
}

.numberRow {
    flex: 1;
    display: flex;
}

.numberRow button {
    flex: 1;
    margin-right: 0.25rem;
}