* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(90deg, rgba(122,69,197,1) 0%, rgb(122 69 197 / 89%) 46%, rgba(122,69,197,1) 100%);
}

#pageUI {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#titleSection {
    display: flex;
    flex: 1;
    margin-bottom: -5rem;
}

#calcSection {
    display: flex;
    flex: 1;
}

#footerSection {
    flex: 1;
}

#title {
    color: white;
    align-self: center;
    font-size: 4em;
    font-weight: normal;
}

#calcContainer {
    display: flex;
    width: 400px;
    height: 600px;
    margin: 0 1rem;
    background-color: #b178ff;
    padding: 2rem;
    border-radius: 1.5rem;
}

#calcUI {
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

#calcDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 0.75rem;
    flex: 2;
}

#screen {
    display: flex;
    align-self: center;
    max-width: 100%;
    word-break: break-all;
    font-size: 1.75em;
}

#calcOptions {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    flex: 1;
}

#clear {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

#clearButton {
    width: 100%;
}

#backspace {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
}

#backButton {
    width: 100%;
}

#calcInput {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    flex: 7;
}

#keypad {
    flex: 1;
    display: flex;
}

#numberPad {
    display: flex;
    flex-direction: column;
    flex: 5;
    gap: 0.30rem;
}

#operators {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.30rem;
}

#operators button {
    flex: 1;
}

.numberRow {
    flex: 1;
    display: flex;
}

.numberRow button {
    flex: 1;
    margin-right: 0.30rem;
}

button {
    border-width: 0;
    font-size: large;
}

footer {
    color: white;
    margin-top: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #cda8ff;
}

#title, button, #screen, footer {
    font-family: 'Courier New', Courier, monospace;
}