* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#calcContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: grey;
}

#calcDisplay, #keypad {
    flex: auto;
}

#calcDisplay {
    display: flex;
}

#keypad {
    display: flex;
}

#numberPad {
    display: flex;
    flex-direction: column;
}

#operators {
    display: flex;
    flex-direction: column;
}

.numberRow {
    flex: 1;
    display: flex;
}

.numberRow button {
    flex: 1;
}